body {
  background-color: rgb(48, 47, 47);
  color: white;
}

input[type="text"], textarea {

  background-color : #5b73f8; 

}

#listaNotas {
  display:flex;
  flex-wrap: wrap;
}
.postit {
  border: 1px solid gray;
  border-radius: 10px;
  height: auto;
  width: 220px;
  margin: 5px;
  padding: 10px;
}
.postit h6{
  color:rgba(255, 255, 255, 0.5)
}
.pintrue {
  background-color: rgba(255, 217, 0, 0.404)
}